// Variables
$pink-1: #f2385a;

//Add table
.tag-table-green {
  background: $green-6 !important;
  font-weight: bold;
  border-color: $green-6 !important;
  color: #fff;
}

.tag-table-pink {
  background: $pink-1 !important;
  font-weight: bold;
  border-color: $pink-1 !important;
  color: #fff;
}

.tag-table-green:hover {
  color: #fff;
}

.tag-table-pink:hover {
  color: #fff;
}

.btn-table-green-3 {
  background: $green-3 !important;
  border-color: $green-3 !important;
  color: #fff;
}

.btn-table-green {
  background: $green-6 !important;
  font-weight: bold;
  border-color: $green-6 !important;
  color: #fff;
  width: 150px;
}

.btn-table-pink {
  background: $pink-1 !important;
  font-weight: bold;
  border-color: $pink-1 !important;
  color: #fff;
  width: 150px;
}

.btn-table-green:hover {
  color: #fff;
}

.btn-table-pink:hover {
  color: #fff;
}

//Add create doc
