.pagination {
  li {
    a {
      color: $green-6;
      &:hover {
        color: $green-6;
      }
    }
    &.active {
      .page-link {
        background: $green-6;
        border-color: $green-6;
      }
    }
  }
}
